<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
    <add name="SqlServerString" 
         connectionString="Data Source=121.199.9.217;Initial Catalog=test;User ID=test;Password=test123;Trusted_Connection=no;Min Pool Size=10;Max Pool Size=100;" 
         providerName="System.Data.SqlClient" />

    <add name="MySQLString" 
         connectionString="Data Source=ch20150916.mysql.rds.aliyuncs.com;Initial Catalog=test_db;Persist Security Info=True;User ID=test_db;Password=111111;Min Pool Size=1;Max Pool Size=3;" 
         providerName="MySql.Data.MySqlClient" />

    <add name="OracleString"
         connectionString="Data Source=192.168.0.2;Initial Catalog=test;Persist Security Info=True;User ID=user1;Password=pass1"
         providerName="System.Data.OracleClient" />

    <add name="SqliteString" connectionString="Data Source=|DataDirectory|\db;Pooling=true;FailIfMissing=false"
       providerName="System.Data.SQLite" />

  </connectionStrings>

  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
