<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>

    <add name="MySQLString"
        connectionString="Data Source=localhost;Initial Catalog=test_db;Persist Security Info=True;User ID=root;Password=123456;Min Pool Size=1;Max Pool Size=3;"
        providerName="MySql.Data.MySqlClient" />

    
    <add name="SqlServerString" 
         connectionString="Data Source=(local);Initial Catalog=Study;User ID=sa;Password=sa;" 
         providerName="System.Data.SqlClient" />

   
    <add name="OracleString"
         connectionString="Data Source=192.168.0.2;Initial Catalog=test;Persist Security Info=True;User ID=user1;Password=pass1"
         providerName="System.Data.OracleClient" />

    <add name="SQLiteString" connectionString="Data Source=|DataDirectory|\testdb.sqlite;Pooling=true;"
       providerName="System.Data.SQLite" />

  </connectionStrings>

  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
